{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户分页</title>
    <link href="//unpkg.com/layui@2.6.13/dist/css/layui.css" rel="stylesheet">
    <script src="//unpkg.com/layui@2.6.13/dist/layui.js"></script>
</head>
<body>
<div class="demoTable">
    搜索ID：
    <div class="layui-inline">
        <input class="layui-input" name="id" id="demoReload" autocomplete="off">
    </div>
    <button class="layui-btn" data-type="reload">搜索</button>
</div>
<div class="layui-input-inline" style="width: 200px;">
    玩家：
    <input id="play_user" class="layui-input layui-disabled" disabled required lay-verify="required">
{#    <input id="play_user_id" type="hidden">#}
    ID：
    <input id="play_user_id" class="layui-input layui-disabled" lay-verify="required">
</div>
<div id="show_user_div" style="display:none">
    <table class="layui-hide" id="test" style="display: none"></table>
    <button type="button" class="layui-btn"
            style="margin-top:20px;margin-left:30px;" id="agree_button">确认
    </button>
</div>
<script type='text/javascript' src="{% static 'user_page.js' %}?v=20200129001"></script>
</body>
<script type="text/html" id="toolbar_query_user">
    <select name="city" lay-ignore style="float:right;height:30px;" class="" id="select_value_user">
        <option value="">请选择字段</option>
        <option value="roleid__contains">玩家ID</option>
        <option value="rname__contains">玩家名</option>
        <option value="user__contains">平台账号</option>
    </select>
    <div class="layui-inline" style="float:right;height:29px;" title="搜索" lay-event="LAYTABLE_SEARCH">
        <i class="layui-icon layui-icon-search" lay-event="search"></i></div>
    <input type="text" id="select_data_user" style="width:200px;float:right;height:30px;" placeholder="选择字段查询 ..."
           autocomplete="off"
           class="layui-input">
</script>
<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
    <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
    <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
  </div>
</script>
</html>